version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: ./node/Dockerfile
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - seasoning_management_network
      - mcp-network

  db:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: seasoning_management_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - seasoning_management_network
      - mcp-network

volumes:
  mysql_data:

networks:
  seasoning_management_network:
    driver: bridge
  mcp-network:
    driver: bridge
    name: mcp-network
